@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 220 100% 46%;

    --background: 210, 20%, 98%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-pagination {
  li {
    border: none !important;
  }

  .ant-pagination-item-active a {
    color: black !important;
  }
}

.ant-form-item-additional {
  margin-bottom: 10px;
}

.ant-radio-button-wrapper-checked {
  border-color: #d9d9d9 !important;
  background: hsl(var(--background)) !important;
  color: black !important;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
